<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" 
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="css/jquery.json-viewer.css" rel="stylesheet">

</head>
<body style="background-color: black;background-position: center;background-size: cover;background-repeat: no-repeat;min-height: 100vh;font-family: 'Roboto' sans-serif;overflow: hidden;">

    <div class="container" >
      <h1 class=" rounded-pill bg-warning text-dark" style="text-align: center;border-radius: 5px;">DIVPRO</h1>
         
        <div class="bg-light p-5 rounded mt-3">
            <!-- <img style="border-radius:50%;float: right;width: 12%;
            height:12%; float:top;"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2VYOPtQquXFlXy_7mMgcJKd6iRm15iYcHUsmLXu_0htPG3QQtDIF57mZf8Kcguscs3B4&usqp=CAU" alt="Avatar">
         -->
         <div class="row">
          <h1>About me - </h1>
          <h1 id="name"></h1>
         </div>
          
          <p class="lead">About me my short bio <input></inut></p>

          <div class="container body-content" style="padding-top: 1%;" >
              <div class="container-fluid d-flex justify-content-between">
                <h1 id="submitData" type="button" class="btn btn-dark">Submit</h1>
                <h1 id="editData" type="button" class="btn btn-dark">Edit</h1>
                <h1 id="logoutData" type="button" class="btn btn-dark">logout</h1>
              </div>
          </div>

        </div>
        
      
      </div>

    <div class="container body-content" style="padding:2%">
        <div class="container" style="align-content: center;">
          <div class="container-fluid d-flex justify-content-around">
            <h1 id="CODECHEF" type="button" class="btn btn-primary">CODECHEF</h1>
            <h1 id="CODEFORCES" class="btn btn-secondary">CODEFORCES</h1>
            <h1 id="LEETCODE" class="btn btn-success">LEETCODE</h1>
            <h1 id="GITHUB" class="btn btn-danger">GITHUB</h1>
          </div>
        </div>
      </div>


    <div class="container body-content" style="
    width:1000px;
    overflow-y: auto;">
      <div class="container" style="align-content: center;">
        <div id="Response" class="my-3">
          <div class="form-group row ">
             <div class="col-sm-12">
                  <!-- <textarea  id="result" rows="3" style="background-color:black;color:whitesmoke"></textarea> -->
                  <div class="form-control" id="json-renderer" style="height: auto;width: auto;overflow-y: auto; max-height: 300px;">Response text area</div>
              </div>
          </div>
        </div>
      </div>
    </div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="js/jquery.json-viewer.js"></script>
<script src="js/index.js"></script>
   
</html>
