<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/LoginSignup.css"/>  

    <title>Document</title>
</head>

<body>
    <div class="materialContainer" >
        <div class="box" >

            <div class="title" style="text-align:center;padding: 2%;">Details</div>
     
            <div class="input">
                <label for="email">Email</label>
                <input type="text" name="email" id="email">
                <span class="spin"></span>
             </div>

             <div style="padding:2%; content-visibility: hidden;">
                <h1>news</h1>
               </div>
     
        <div class="title" style="text-align:center;">Programmer</div>
     
             <div class="input">
                <label for="cc">CodeChef</label>
                <input type="text" name="cc" id="cc">
                <span class="spin"></span>
             </div>
  
             <div class="input">
              <label for="cf">Codeforces</label>
              <input type="text" name="cf" id="cf">
              <span class="spin"></span>
           </div>
  
           <div class="input">
              <label for="lc">Leetcode</label>
              <input type="text" name="lc" id="lc">
              <span class="spin"></span>
           </div>


           <div style="padding:2%; content-visibility: hidden;">
            <h1>news</h1>
           </div>


        <div class="title" style="text-align:center;">Developer</div>
     
        <div class="input">
            <label for="git">Github</label>
            <input type="text" name="git" id="git">
            <span class="spin"></span>
         </div>

         <div class="button login">
            <button><span>GO</span> <i class="fa fa-check"></i></button>
         </div>

     
        </div>
     
        
     </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="js/userDetails.js"></script>
</html>